<div id="{{ id }}" class="brid brid-playlist widget-{{ embedding.WidgetPosition }}"></div>
<script>
  window.bridPlayStackPlaylist = window.bridPlayStackPlaylist || [];
  bridPlayStackPlaylist.push({
    "id": "{{ id }}",
    "playerId": "{{ embedding.PlayerId }}",
    "partnerId": "{{ settings.partner_id }}",
    "playlistId": "{{ embedding.PlaylistId }}",
    "width": "{{ embedding.Settings.width }}",
    "height": "{{ embedding.Settings.height }}",
    "mobileHeight": "{{ embedding.Settings.height }}",
    "shuffle": "{{ embedding.Shuffle }}",
    "widgetPosition": "{{ embedding.WidgetPosition }}",
  });
</script>
