<amp-brid-player
  autoplay
  data-partner="{{ settings.partner_id }}"
  data-player="{{ embedding.PlayerId }}"
  data-playlist="{{ embedding.PlaylistId }}"
  layout="responsive"
  width="{{ embedding.Settings.width }}"
  height="{{ embedding.Settings.height }}"
></amp-brid-player>
