<figure class="op-interactive">
    <iframe>
        <script type="text/javascript" src="//services.brid.tv/player/build/brid.min.js"></script>
        <div id="{{ id }}" class="brid"></div>
        <script type="text/javascript">$bp("{{ id }}", {
                "id": "{{ embedding.PlayerId }}",
                "width": "{{ embedding.Settings.width }}",
                "height": "{{ embedding.Settings.height }}",
                "playlist": "{{ embedding.PlaylistId }}"
            }); </script>
        {% if embedding.isDescriptionOutputEnabled %}
            <figcaption class="op-vertical-below">
                {{ embedding.DescriptionOutput|raw }}
            </figcaption>
        {% endif %}
    </iframe>
</figure>